<!DOCTYPE html>
<html>
<head>
  <title>About Jeopardy with Friends - Live!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<!--MATERIALIZE-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Maitree:500|Open+Sans+Condensed:300,700" rel="stylesheet">
<!--STYLESHEET-->
    <link rel="stylesheet" href="stylesheets/about-style.css"/>
     
</head>

<body>
   <main>
    <div class="container">
        <div class="row">
          <div class="col s12 box">
            <h3 class="title">
               ABOUT JEOPARDY WITH FRIENDS - LIVE!
            </h3>
            <p>
              Play Jeopardy with your friends via live chat!
              You can log in with Google, and play live with
              friends all around the world. Complete with
              Alex Trebek graphics and sound bites. Built during General Assembly's Web Development Immersive Course.
            </p>
          </div>
        </div>
     
        <div class="box">
            <div class="row">
              <div class="col s12">
                <h4 class="title">What is A Team?</h4>
              </div>
            </div>

           <div class="row">
                <div class="col s12 m6 l3">
                    <a href="https://github.com/James-Costello/" class='profile-link'>
                        <div class="card small indigo darken-4 center-align">
                          <img src="../images/james-prof.jpg" alt="james costello profile photo" class="circle prof-image">
                          <h3><span class="card-title">James Costello</span></h3>
                          <p>Scrum Lord</p>
                        </div>
                    </a>
                </div>

                <div class="col s12 m6 l3">
                   <a href="https://github.com/blairdow/" class='profile-link'>
                        <div class="card small indigo darken-4 center-align">
                          <img src="../images/bd_twitter.jpg" alt="blair dowis profile photo" class="circle prof-image">
                          <h3><span class="card-title">Blair Dowis</span></h3>
                          <p>Lead Github Manager</p>
                        </div>
                    </a>
                </div>

                <div class="col s12 m6 l3">
                   <a href="https://github.com/karla001/" class='profile-link'>
                        <div class="card small indigo darken-4 center-align">
                          <img src="../images/karla-prof.jpg" alt="karla gil profile photo" class="circle prof-image">
                          <h3><span class="card-title">Karla Gil</span></h3>
                          <p>Senior Presentation Manager</p>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l3">
                    <a href="https://github.com/lkiziak" class='profile-link'>
                        <div class="card small indigo darken-4 center-align">
                          <img src="../images/michelle-prof.jpg" alt="michelle kiziak profile photo" class="circle prof-image">
                            <h3><span class="card-title">Michelle Kiziak</span></h3>
                          <p>Lead Documenter</p>
                        </div>
                    </a>
                </div>
        </div>

            <div class="row">
                <div class="col s12 m6">
                   <div class="card-panel indigo darken-4 center-align"><a href="/index" class='big-link'>Play Jeopardy with Friends - Live!</a></div>
                </div>
                <div class="col s12 m6">
                   <div class="card-panel indigo darken-4 center-align"><a href="https://github.com/blairdow/jeopardy-friends" class='big-link'>Github</a></div>
                </div>
            </div>
        </div>   
    </div>
    </main>
  
  <footer class="page-footer indigo darken-4">
      <div class="container">
          <div class="row">
            <div class="col s12">
                <div class="center-align">© 2016 Copyright "What is A Team?"</div>
            </div>
          </div>
      </div>
  </footer>
   
<!--   materialize javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</body>
</html>
