<!DOCTYPE html>
<html>
<head>
  <title>About Jeopardy with Friends - Live!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Maitree:500|Open+Sans+Condensed:300,700" rel="stylesheet">
     <link rel="stylesheet" href="stylesheets/about-style.css"/>
     
</head>

<body>
   <main>
   <div class="container">
 
    <div class="row">
      <div class="col l12 box">
        <h3 class="title">
           About Jeopardy With Friends-Live!
        </h3>
        <p>
          Play Jeopardy with your friends via live chat!
          You can log in with Google, and play live with
          friends all around the world. Complete with
          Alex Trebek graphics and sound bites.
        </p>
      </div>
     </div>
     
    <div class="box">
        <div class="row">
          <div class="col s12">
            <h4 class="title">What is A Team?</h4>
          </div>
        </div>

       <div class="row">
            <div class="col m3 s12">
                <div class="card small indigo darken-4 center-align">
                  <img src="../images/james-prof.jpg" alt="james costello profile photo" class="circle prof-image">
                  <h3><span class="card-title">James Costello</span></h3>
                  <p>Scrum Lord</p>
                </div>
            </div>

            <div class="col m3 s12">
                <div class="card small indigo darken-4 center-align">
                  <img src="../images/bd_twitter.jpg" alt="blair dowis profile photo" class="circle prof-image">
                  <h3><span class="card-title">Blair Dowis</span></h3>
                  <p>Lead Github Manager</p>
                </div>
            </div>

            <div class="col m3 s12">
                <div class="card small indigo darken-4 center-align">
                  <img src="../images/karla-prof.jpg" alt="karla gil profile photo" class="circle prof-image">
                  <h3><span class="card-title">Karla Gil</span></h3>
                  <p>Senior Presentation Manager</p>
                </div>
            </div>
            <div class="col m3 s12">
                <div class="card small indigo darken-4 center-align">
                  <img src="../images/michelle-prof.jpg" alt="michelle kiziak profile photo" class="circle prof-image">
                    <h3><span class="card-title">Michelle Kiziak</span></h3>
                  <p>Lead Documenter</p>
                </div>
            </div>
    </div>
    
    <div class="row">
        <div class="col m6 s12">
           <div class="card-panel indigo darken-4 center-align"><a href="/index">Play Jeopardy with Friends - Live!</a></div>
        </div>
        <div class="col m6 s12">
           <div class="card-panel indigo darken-4 center-align"><a href="https://github.com/blairdow/jeopardy-friends">Github</a></div>
        </div>
    </div>
   </div>   
  </div>
  </main>
  
  <footer class="page-footer indigo darken-4">
      <div class="container">
          <div class="row">
            <div class="s12">
                <div class="center-align">© 2016 Copyright "What is A Team?"</div>
            </div>
          </div>
      </div>
  </footer>
   
    <!--   materialize javascrip-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</body>
</html>
