<!DOCTYPE html>
<html>
  <head>
     <title>Jeopardy with Friends - Live!</title>
     <!-- Google Icon Fonts used by Materialize -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Materialize CSS Framework -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"> 
    <!--     google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Maitree:500|Open+Sans+Condensed:300,700" rel="stylesheet">
     <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  
  <body class="chat-trebek-img">
  
<main>
<div class="row">
    <div class="cropped-trebek-img">
        <img src="../images/jeopardy-cropped1.jpg" alt="jeopardy logo" class='responsive-img'>
    </div>        
<!--  user info -->
    <div class="col s12">
        <ul class="login-index">
              <% if (user) { %>
            <li><a href="/logout" class='logout'>Logout<i class="material-icons right">trending_flat</i></a></li>
            <li id="user-email"><%= user.email %></li>
            <% } %>
         </ul>

      </div>        



    <% if (user) { %>
    <div class="col m12 l6 offset-l6">

<!--   category goes here-->
        <div id="category"></div>
      
<!--    question goes here-->
       <div id="question"></div>
       
<!--       answer appears here-->
      <div id="answer"></div>
      
    <!-- Socket IO chat -->
      <!-- messages view -->
            <div class="chatroom">
                
            </div>

            <!-- message input  -->

        <div class="input-field">
            
            <label for='new-msg'>Message:</label>
            <textarea id="new-msg"></textarea>
            
            <button id='btn-send-msg' class="indigo darken-4 right">Send Message</button>
        </div>

        </div>
    </div>
</main>
    <!-- Socket IO chat end-->

    <!--- footer -->
    
    <footer class="page-footer indigo darken-4">
      <div class="container">
          <div class="row">
            <div class="col s6">
                <p>© 2016 Copyright "What is A Team?"</p>
            </div>
            <div class="col s6">
                <p class='right'><a href="/about">About</a></p>
            </div>
          </div>
      </div>
    </footer>

<!--    show login if user not logged in-->
    <% } else { %>
    <div class="row">
        <div class="col m12 l6 offset-l6">
               <div class="card-panel indigo darken-4 center-align">
                   <p>
                        <a href="/auth/google"><i class="material-icons">vpn_key</i>Login with Google to Play!</a>
                    </p>  

               </div> 
        </div>
    </div>

        <% } %>  
        
    
        
<!--   Jquery-->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>

<!-- Using Underscore for collection manipulation and client-side templating -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    
<!--browser side javascript-->
    <script src="javascripts/app.js"></script>
    
<!-- socket.io for chat -->
    <script src="/socket.io/socket.io.js"></script>

  </body>
</html>
