/*login page styling*/

body {
    font: 14px "Open Sans Condensed", Helvetica, Arial, sans-serif;
    color: #f2ea66;
    background-color: #151b59;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 90%;
}

.login-trebek {
    max-width: 100%;
    max-height: 90%;
}

.box {
    border: #f2ea66 solid 1px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10%;
    background-color: #151b59;
}

.login-button{
    height: 50px;
    width: 190px;
    background-color: #f2ea66;
    border-radius: 10px;
    font-size: 24px;
}

.login-button a {
    color: #151b59;
    font-family: 'Maitree', serif;
    text-transform: uppercase;  
}

.login-button a:hover {
    color: #0016ff;
}

.login-pointer-text{
  font-family: 'Open Sans Condensed', sans-serif;
  width: 400px;
}

button{
    margin-top: 10px;
}

footer.page-footer {
    padding-top: 0;
    margin-top: 0;
}

footer.page-footer .footer-copyright {
    overflow: visible;
}

footer a, footer.page-footer .footer-copyright {
    color: #f2ea66;
    font-size: 1.25em;
}

footer a:hover {
    color: #ffe200;
}

