body {
    font: 14px "Open Sans Condensed", Helvetica, Arial, sans-serif;
    color: #f2ea66;
    background-color: #151b59;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 90%;
}

.chat-trebek-img {
    height: 100vh;
    background-image: url(../images/trebek_homepage.jpg)
}

a {
  color: #00B7FF;
}

#user-email {
    font-weight: 700;
    padding-left: 10px;
}

.chat-message {
    margin-bottom: 5px;
}

.chatroom, #category, #question, #btn-send-msg, #new-msg, #answer, .box {
    border: #f2ea66 solid 1px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #151b59;
} 

.box {
    padding: 0;
}

#btn-send-msg {
    width: 100%;
}

#category, #question, #answer {
    text-align: center;
}

#answer {
    color: whitesmoke;
    font-size: 1.5em;
}

.chatroom, #question {
    font-family: 'Open Sans Condensed', sans-serif;
}

#category {
    font-family: 'Maitree', serif;
    text-transform: uppercase;
    font-size: 2em;
    padding: 3px;
}

#question {
    font-size: 2em;
    letter-spacing: 1px;
}

.chatroom, textarea {
    font-size: 1.25em;
    letter-spacing: 1px;
}

.chatroom {
    height: 35vh;
    overflow-y: auto;
    scroll-behavior: auto;
}

.msg-content {
    color: #f5f0a3
}

.input-field label {
    left: 1rem;
    top: 1rem;
}

.input-field label.active {
    left: 0;
    top: 0.8rem;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #f2ea66;
}

.user-info {
    border: #f2ea66 solid 1px;
    background-color: rgba(250, 235, 215, 0.45);
}

.login-index {
    text-align: right;
}

.material-icons {
    padding-right: 10px;
}

.cropped-trebek-img {
    display: none;
}

/*FOOTER*/
footer.page-footer {
    padding-top: 0;
    margin-top: 0;
}

footer.page-footer .footer-copyright {
    overflow: visible;
}

footer a, footer.page-footer .footer-copyright {
    color: #f2ea66;
    font-size: 1.25em;
}

footer a:hover {
    color: #ffe200;
}

/*MEDIA QUERIES*/

@media (max-width: 992px) {
        #category, #question {
        font-size: 2em;
    }
    .chatroom {
        height: 20vh;
        font-size: 1.5em;
    }
    .cropped-trebek-img {
        display: initial;
        width: 100%;
    }
    
    .chat-trebek-img {
        background-image: url();
    }
}
